<div class="container-fluid">
  <div class="row justify-content-center align-items-center min-vh-100">
    <!-- Section de gauche : Formulaire de connexion -->
    <div class="left-panel col-12 col-md-6 col-lg-5 d-flex flex-column align-items-center">
      <div class="logo-container">
        <img src="../../../assets/image/logo.png" alt="Logo" class="logo">
      </div>
      <h1 class="title">Connexion</h1>
      <p class="subtitle">
        Vous n'avez pas de compte ?
        <a routerLink="/inscription" class="link">Inscrivez-vous ici !</a>
      </p>
      <div class="form-box">
        <input type="text" [(ngModel)]="credentials.email" placeholder="Votre email" class="input-field" />
        <input type="password" [(ngModel)]="credentials.password" placeholder="Votre mot de passe" class="input-field" />
        <a href="#" class="forgot-password">Mot de passe oublié ?</a>
        <button class="submit-button" (click)="seConnecter()">Connexion</button>
      </div>
    </div>

    <!-- Section de droite : Image et texte de bienvenue -->
    <div class="welcome-section col-12 col-md-6 d-flex align-items-center">
      <div class="welcome-text">
        <p>
          <span style="font-size: 2rem; color: #6320EE;">&#10077;</span>
          <strong>Bienvenue chez</strong> <span style="color: #6320EE;"><strong>Traveleef</strong></span>.
          <strong>Traveleef</strong> est une solution qui vous permet d'optimiser chaque aventure tout en
          minimisant votre <span style="color: #6320EE;"><strong>empreinte carbone</strong></span>.
        </p>
      </div>
    </div>
  </div>
</div>
