<header class="header-container container-fluid">
  <div class="row align-items-center justify-content-between">
    <!-- Logo à gauche -->
    <div class="logo col-6 col-md-4">
      <img src="assets/image/LogoTexte_Traveleef_N.png" alt="Traveleef Logo" class="logo-img" routerLink="/" style="cursor: pointer">
    </div>

    <!-- Boutons pour les utilisateurs non connectés -->
    <div class="buttons-container col-6 col-md-4 text-end d-flex justify-content-end align-items-center gap-3" *ngIf="!isLoggedIn">
      <button class="btn-primary" routerLink="/inscription">S'inscrire</button>
      <button class="btn-primary" routerLink="/connexion">Se connecter</button>
    </div>

    <!-- Informations utilisateur pour les utilisateurs connectés -->
    <div class="user-info col-6 col-md-4 text-end d-flex justify-content-end align-items-center gap-3" *ngIf="isLoggedIn">
      <span class="user-name">{{ userName }}</span>
      <button class="btn-primary" (click)="deconnexion()">Déconnexion</button>
    </div>
  </div>
</header>
