<header class="header-container">
  <!-- Logo à gauche -->
  <div class="logo">
    <img src="assets/LogoTexte_Traveleef_N.png" alt="Traveleef Logo" class="logo-img">
  </div>


  <!-- Boutons à droite (déconnecté) -->
  <!-- Boutons pour les utilisateurs non connectés -->
  <div class="buttons-container" *ngIf="!isLoggedIn">
    <button class="btn-primary" routerLink="/inscription">S'inscrire</button>
    <button class="btn-primary" routerLink="/connexion">Se connecter</button>
  </div>

  <!-- Informations utilisateur pour les utilisateurs connectés -->
  <div class="user-info" *ngIf="isLoggedIn">
    <span class="user-name">{{ userName }}</span>
    <button class="btn-primary" (click)="deconnexion()">Déconnexion</button>
  </div>

</header>
